<!-- Add synopsis here -->

<p>
  <strong>Key Takeaways</strong>
</p>

<ul>
  <li></li>
</ul>

<p>
  <strong>Links</strong>
</p>

<ul>
  <li></li>
</ul>

<p>
  <strong>Connect with our hosts</strong>
</p>

<ul>
  <li><a href="https://twitter.com/RobbieTheWagner">Robbie Wagner</a></li>
  <li><a href="https://twitter.com/CharlesWthe3rd">Chuck Carpenter</a></li>
</ul>

<p>
  <strong>Subscribe and stay in touch</strong>
</p>

<ul>
  <li>
    <a
      href="https://podcasts.apple.com/us/podcast/whiskey-web-and-whatnot/id1552776603"
    >
      Apple Podcasts
    </a>
  </li>
  <li>
    <a href="https://open.spotify.com/show/19jiuHAqzeKnkleQUpZxDf">Spotify</a>
  </li>
  <li>
    <a href="https://overcast.fm/itunes1552776603">Overcast</a>
  </li>
  <li>
    <a href="https://whiskey.fm/">Whiskey Web and Whatnot</a>
  </li>
</ul>

<p>
  <strong>Whiskey Web and Whatnot Merch</strong>
</p>

<p>
  Enjoying the podcast and want us to make more? Help support us by picking up
  some of our fresh merch at
  <a href="https://whiskey.fund/" target="_blank">https://whiskey.fund/</a>⁠.
</p>
